[user]
        email = 1benediktwerner@gmail.com
        name = Benedikt Werner
        signingkey = 1DBFF0F8E9E121EB
[core]
        preloadindex = true
        fscache = true
        autocrlf = false
        safecrlf = false
        excludesfile = ~/.gitignore
        eol = lf
        pager = delta
[init]
        defaultBranch = "master"
[delta]
        line-numbers = true
#        side-by-side = true
        minus-style = "syntax auto"
        minus-emph-style = "syntax auto"
        plus-style = "syntax 22"
        plus-emph-style = "syntax 34"
        line-numbers-minus-style = "9"
        line-numbers-zero-style = "8"
        line-numbers-plus-style = "10"
[alias]
        s = status
        c = commit -v
        ac = commit -av
        ca = commit -v --amend
        aca = commit -av --amend
        co = checkout
        com = checkout master
        cob = checkout -b
        a = add -u
        aa = add -A
        ap = add -p
        d = diff
        dc = diff --cached
        r = remote -v
        b = branch
        f = fetch
        fup = fetch upstream
        rup = reset --hard @{upstream}
        frup = !git fetch upstream && git reset --hard @{upstream} && :
        pullr = pull --rebase
        pushh = push origin HEAD
        pushm = push upstream master
        last = log -1 HEAD
        graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
        bu= !git branch -u origin/$(git rev-parse --abbrev-ref HEAD) && :
[push]
        default = simple
[help]
        autoCorrect = 1
[url "git@github.com:"]
        insteadOf = gh:
[diff]
        colorMoved = default
        algorithm = patience
        compactionHeuristic = true
[commit]
        gpgsign = true
[hub]
        protocol = ssh
[pull]
        ff = only
