[user]
	email = 1benediktwerner@gmail.com
	name = Benedikt Werner
	signingkey = 1DBFF0F8E9E121EB
[push]
	default = matching
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	eol = lf
	pager = less -F
[commit]
	gpgsign = true
[hub]
	protocol = ssh
