[user]
        email = 1benediktwerner@gmail.com
        name = Benedikt Werner
        signingkey = 1DBFF0F8E9E121EB
[core]
        autocrlf = input
        excludesfile = ~/.gitignore
        eol = lf
        pager = less -F
[alias]
        c = commit
        s = status
        last = log -1 HEAD
        graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[push]
        default = simple
[help]
        autoCorrect = 1
[url "git@github.com:"]
        insteadOf = gh:
[diff]
        algorithm = patience
        compactionHeuristic = true
[commit]
        gpgsign = true
[hub]
        protocol = ssh
[pull]
        ff = only
